<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Space+Grotesk:wght@300;400&display=swap"
          rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>About</title>
</head>

<body>
<!-- NAVIGATION -->
<header class="header">
    <div class="container grid"><a class="logo" href="/"><b>You</b>th|<b>Matter</b>s.</a></div>
    <div class="menu" onclick="toggle()">menu</div>
    <div class="close" onclick="toggle()">close</div>

    <div class="nav bg-purple">
        <ul class="nav-links">
            <li><a href="/login">Login</a>
            <li><a href="/get_started">Sign up!</a>
            <li><a href="/about">About</a>
            <li><a href="/hotlines">Hotlines</a>
        </ul>
    </div>
</header>

<!-- INTRO -->
    <div class="container">
<div>
    <div class="row">
        <div class="col-5"><h1 class="fs-800 ff-sans-normal text-black">About Y|M.</h1></div>
        <div class="col-7"><h2 class="fs-500 ff-sans-normal text-black"><br><br><br><br>Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
            1500s.<br><br></h2></div>
    </div>
</div>

        <!-- ACCORDION -->
        <div class="accordion">
            <label for="a1" class="accordion-item1 bg-purple"><h2>Excerpts from</h2></label>
            <input type="checkbox" id="a1"/>
            <p class="hiddentext">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his
                brown belly, slightly domed and divided by arches into stiff sections.</p>
        </div>

        <div class="accordion">
            <label for="a2" class="accordion-item2 bg-red"><h2>The Metamorphosis</h2></label>
            <input type="checkbox" id="a2"/>
            <p class="hiddentext">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his
                brown belly, slightly domed and divided by arches into stiff sections.</p>
        </div>

        <div class="accordion">
            <label for="a3" class="accordion-item3 bg-teal"><h2>by Franz Kafka</h2></label>
            <input type="checkbox" id="a3"/>
            <p class="hiddentext">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his
                brown belly, slightly domed and divided by arches into stiff sections.</p>
        </div>


<!-- JAVASCRIPT -->
<script src="js/script.js"></script>
<!-- BOOTSTRAP JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossOrigin="anonymous"></script><!-- JAVASCRIPT -->
<script src="js/script.js"></script>

    </div>
</body>
</html>
