<html>
    <head>
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Space+Grotesk:wght@300;400&display=swap" rel="stylesheet">
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="css/index.css">

        <title>CAPSTONE | DESIGN SYSTEM</title>

    </head>
    <body class="bg-black text-white">

    <div class="container">
        <h1>Capstone Design System</h1>
        <!-- COLORS -->
            <section id="colors" style="margin: 3rem 1rem">
                <div class="grid">
                <h2 class="numbered-title"><span>01|</span> Colors</h2>
                <div class="flex">
                    <div class="flow" style="flex-basis: 100%; --flow-space: 1.5rem;">
                    <div>
                        <div style="padding: 3rem 1rem 1rem; border: 2px solid #AAC347; border-radius: 15px">
                            #AAC347
                        </div>
                        <p><span>RGB|</span> 170, 195, 71</p>
                        <p><span>HSL|</span> 72, 51%, 52%</p>
                    </div>
                    <div>
                        <div style="padding: 3rem 1rem 1rem; border: 2px solid #B192F3; border-radius: 15px">
                            #B192F3
                        </div>
                        <p><span>RGB| </span> 177, 146, 243</p>
                        <p><span>HSL| </span> 259, 80%, 76%</p>
                    </div>
                    <div>
                        <div style="padding: 3rem 1rem 1rem; border: 2px solid #FF5139; border-radius: 15px">
                            #FF5139
                        </div>
                        <p><span>RGB| </span> 255, 81, 57</p>
                        <p><span>HSL| </span> 7, 100%, 61%</p>
                    </div>
                    <div>
                        <div style="padding: 3rem 1rem 1rem; border: 2px solid #A47417; border-radius: 15px">
                            #A47417
                        </div>
                        <p><span>RGB| </span> 164, 116, 23</p>
                        <p><span>HSL| </span> 40, 76%, 37%</p>
                    </div>
                    <div>
                        <div style="padding: 3rem 1rem 1rem; border: 1px solid #1E9999; border-radius: 15px">
                            #1E9999
                        </div>
                        <p><span>RGB| </span> 30, 153, 153</p>
                        <p><span>HSL| </span> 180, 67%, 36%</p>
                    </div>
                    </div>
                </div>
                </div>
            </section>

            <!-- TYPOGRAPHY -->
            <section id="typography" style="margin: 3rem 0">
                <h2 class="numbered-title"><span>02|</span> Typography</h2>

                <div class="flex">
                    <div class="flow" style="flex-basis: 100%; --flow-space: 1.5rem;">
                        <div>
                            <p>Heading 1| Roboto [Semi-Bold 7.5rem]</p>
                            <p class="fs-800 ff-sans-normal">Youth|Matters.</p>
                        </div>
                        <div>
                            <p>Heading 2| Roboto [Semi-Bold 5rem]</p>
                            <p class="fs-700 ff-sans-normal">Health & Wellness Resources.</p>
                        </div>
                        <div>
                            <p>Heading 3| Roboto [Semi-Bold 3.5rem]</p>
                            <p class="fs-600 ff-sans-normal">Another heading.</p>
                        </div>

                    </div>

                    <div class="flow" style="flex-basis: 100%; --flow-space: 1.5rem">
                        <div>
                            <p>Subheading 1| Roboto [Regular 2rem]</p>
                            <p class="fs-500 ff-sans-normal">This is subheading uno.</p>
                        </div>
                        <div>
                            <p>Subheading 2| Roboto [Regular 1.5rem]</p>
                            <p class="fs-400 ff-sans-normal">This is subheading dos.</p>
                        </div>
                        <div>
                            <p>Body Text| Roboto [Light 2rem]</p>
                            <p class="fs-300 ff-mono"><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make it only five centuries.</p>
                        </div>
                        <!-- INTERACTIVE ELEMENTS // GET STARTED BUTTON -->
                        <h2 class="numbered-title"><span>03|</span> Interactive elements</h2>
                        <div><a href="#" class="large-button">get started!</a></div>
                    </div>
                </div>




        <!-- JAVASCRIPT -->
        <script src="index.pack.js"></script>
    </body>
</html>